@charset "UTF-8";
/* CSS Document */

html{
  margin:0;
  padding:0;
}
#home_button{
	background-color: green;
	padding:10px;
	
}
#home_button:hover{
	cursor: pointer;
	max-width: 150px;
}
body{
  padding:4px;
  border:none;
  background-color:#232c31;
  font-family: Tahoma, Verdana, sans-serif;
  line-height:1.2;
  color:#ffffe6;
}
img{
  width:300px;
  border:1px black solid;
  margin:10px auto;
  
}
td{
  vertical-align:top;
}
tr{
  marding:5px 0;
}
.soft-italic{
  font-size:50%;
  font-style:italic;
}
ul{
  list-style-type:none;
}

