body{
  background-image:url("bg-earth.jpg");
  animation-name:fade-in;
  animation-duration:2s;
}
.index_button{
  width:80px;
  background-color:green;
  color:white;
  position:fixed;
  z-index:2;
}
h1{
  position:fixed;
  z-index:2;
}
@keyframes fade-in{
  from{opacity:0}
  to{opacity:1}
}
  
