html{
margin:0;
padding:0;
background-color:#f0f0f0;
}
img{
  width:300px;
  border-radius:80px;
  border:1px black solid;
  margin:10px auto;
}
td{
  border:black 2px solid
}
.soft-italic{
  font-size:.5em;
  font-style:italic;
}
