html{
  margin:0;
  padding:0;
  background-color:red;
  font-family: Tahoma, Verdana, sans-serif;
  line-height:1.2;
}
img{
  width:300px;
  border-radius:150px;
  border:1px black solid;
  margin:10px auto;
  
}
td{
  vertical-align:top;
}
tr{
  marding:5px 0;
}
.soft-italic{
  font-size:.8em;
  font-style:italic;
}
ul{
  list-style-type:none;
}
