@charset "UTF-8";
/* CSS Document */

body{
  	background:url(bg_earth.png) no-repeat center fixed;
	background-size:cover;
  	color:lemonchiffon;
	animation-name: fade-in;
	animation-duration: 2s;
	font-family: Arial, Helvetica, sans-serif;
}
.index-button{
  	background-color:darkslategray;
	color:lemonchiffon;
  	width:20%;
  	height:5%;
  	padding:15px;
	margin:10px;
	border-radius: 10%;
	
}
h1{
	margin-bottom:100px;
}
#nav{
	text-align: center;
	position:fixed;
	width:100%;
	top:20%;

}
@keyframes fade-in{
	from{opacity: 0}
	to{opacity: 1}
}
@media screen and (max-width:800px){
	.index-button{
		display:block;
		width:400px;
		border-radius: 0;
		margin:20px auto;
	}
}
