html{
margin:0;
padding:0;
background-color:#f0f0f0;
}
img{
  width:300px;
  border-radius:80px;
  border:1px black solid;
  margin:10px auto;
}
td{
  vertical-align:top;
}
tr{
  marding:5px 0;
}
.soft-italic{
  font-size:.8em;
  font-style:italic;
}
ul{
  list-style-type:none;
}
